<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Trainee"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitHub"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RutinaListActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:label="@string/my_routines_message"
            android:theme="@style/Theme.FitHub" />
        <activity android:name=".AddRutinaActivity"
            android:exported="true"
            android:parentActivityName=".RutinaListActivity"
            android:label="@string/add_routine"
            android:theme="@style/Theme.FitHub" />
        <activity android:name=".ShowRutinaActivity"
            android:parentActivityName=".RutinaListActivity"
            android:label="@string/routines_message"
            android:theme="@style/Theme.FitHub"/>
        <activity android:name=".SelectEjerciciosActivity"
            android:label="@string/select_exercises"
            android:theme="@style/Theme.FitHub"/>
        <activity android:name=".ShowEjercicioActivity"
            android:label="@string/exercises_message"
            android:parentActivityName=".EjerciciosListActivity" />
        <activity android:name=".EntrenamientoActivity"
            android:label="@string/entrenamiento_message"
            android:theme="@style/Theme.FitHub"/>
        <activity android:name=".EjerciciosListActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/ejercicios_message"
            android:theme="@style/Theme.FitHub"/>
    </application>

</manifest>